*{
    font-family: 'Poppins';
}

body{
    background-image: url('../images/bg.jpg');
}

.evan-brand{
    font-family: 'Oswald';
    font-size: 30px;
    /* color: rgb(102, 230, 113); */
}

.social-twitter {
    background-color: #55acee
}

.social-facebook {
    background-color: #3b5999
}

.social-linkedin {
    background-color: #0077B5
}

.social-google {
    background-color: #dd4b39
}

.social-instagram {
    background-color: #dd4b39
}

.social-icon i {
    transition: 0.4s all
}

.social-icon:hover i {
    transform: scale(1.1)
}

.hero{
    /* width: 75%;
    height: 100vh; */
    opacity: 0.9;
    background-color: black;
}